<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: headFragment">
    <meta charset="UTF-8">
    <title>이것이 제목이다.</title>
</head>
<body>
<div class="row">
    <div class="col-8"></div>
    <div class="col-2">
        로그인
    </div>
    <div class="col-2">
        회원가입
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <h1>안녕하세요. 당신의 학습 계획을 관리해주는 Study-Scheduler입니다!</h1>
    <div class="col-3"></div>
</div>
<button id="button1" onclick="clickButton()">클릭하면 바뀝니다.</button>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    function clickButton() {
        console.log("버튼이 클릭됐습니다.")
    }

$("#button1").on("click", function () {
    console.log("버튼이 클릭됐습니다2.");
})

</script>
</body>
</html>